body {
  font-family: sans-serif;
  text-align: center;
}
video {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid black;
}
#recognizedText {
  font-size: 2em;
  font-weight: bold;
}